<div class="container">
  <div class="row" style="background-color: red;">
    <div class="col">
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="row" style=" background-color: blue;">
    <div class="col-4">
      <app-search></app-search>
    </div>
    <div class="col-8">
      <div class="container">
        <div class="row" style=" background-color: yellow;">
          <div class="col">
            <app-carrousel></app-carrousel>
          </div>
        </div>
        <div class="row" style=" background-color: orange;">
          <div class="col">
            <app-product-item [productId]="1"></app-product-item> <!--Asi se pasa un parametro a una directiva-->
          </div>
          <div class="col">
            <app-product-item [productId]="2"></app-product-item>
          </div>
          <div class="col">
            <app-product-item [productId]="3"></app-product-item>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style=" background-color: greenyellow;">
    <div class="col">
      <app-footer></app-footer>
    </div>
  </div>
</div>